{% extends "layouts/base.njk" %}

{% block header %}{% endblock %}

{% block content %}
  <main>

    <div class="container">
      {% include 'components/form.njk' %}
    </div>

  </main>
{% endblock %}

{% block footer %}{% endblock %}
