<form id="form" class="form">
  <h2 class="form__title">Register With us</h2>
  <div class="form__control">
    <label class="form__label" for="username">Username</label>
    <input class="form__input" type="text" name="username" id="username" placeholder="Enter username">
    <small class="form__message">Error message</small>
  </div>
  <div class="form__control">
    <label class="form__label" for="email">Email</label>
    <input class="form__input" type="text" name="email" id="email" placeholder="Enter e-mail">
    <small class="form__message">Error message</small>
  </div>
  <div class="form__control">
    <label class="form__label" for="password">Password</label>
    <input class="form__input" type="text" name="password" id="password" placeholder="Enter a password">
    <small class="form__message">Error message</small>
  </div>
  <div class="form__control">
    <label class="form__label" for="password2">Confirme Password</label>
    <input class="form__input" type="text" name="password2" id="password2" placeholder="Enter a password again">
    <small class="form__message">Error message</small>
  </div>
  <button class="form__submit" type="submit">Submit</button>
</form>
